<table border='0' cellspacing='5' cellpadding='5'>
  <tr>
    <th> Rank </th>
    <th> Title </th>
    <th> Author </th>
    <th> Language </th>
    <th> Year </th>
    <th> Copies </th>
  </tr>

</table>