/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*Variables. I used these for widths, fonts, etc.
Nesting. I nested list items within several different divs.
Partials. We'll use this feature with custom fonts, explained below.
Mixins. I just used the border-radius mixin from the SASS guide to style two different items (nav links and submit button).
Inheritance. I used this for some divs and header styling.
Operators. I used this to control the size of some divs.*/
/* line 30, ../sass/screen.scss */
#menu ul {
  margin: 0;
  padding: 0;
  list-style: circle;
}
/* line 36, ../sass/screen.scss */
#menu li {
  display: inline-block;
}
/* line 40, ../sass/screen.scss */
#menu a {
  display: block;
  padding: 6px 12px;
  text-decoration: underline;
}

/* line 65, ../sass/screen.scss */
body {
  font-family: Verdana, Tahoma, sans-serif;
  font-color: #333333;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
}

/* line 71, ../sass/screen.scss */
#header {
  background-color: orange;
}

/* line 76, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 80, ../sass/screen.scss */
#sidebar {
  float: right;
}

/* line 83, ../sass/screen.scss */
#wrap {
  min-height: 100%;
}

/* line 87, ../sass/screen.scss */
#container {
  overflow: auto;
  padding-bottom: 50px;
}

/* must be same height as the footer */
/* line 92, ../sass/screen.scss */
#footer {
  position: relative;
  margin-top: -50px;
  /* negative value of footer height */
  height: 50px;
  clear: both;
  text-align: center;
  background-color: orange;
}

/* line 100, ../sass/screen.scss */
#menu {
  background-color: #FFD700;
  height: 200px;
  width: 100px;
}

/* line 106, ../sass/screen.scss */
#login {
  width: 200px;
}

/* line 110, ../sass/screen.scss */
#content {
  height: auto;
  width: auto;
  float: left;
}
