
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>Foster Agreement Page</h2>
<p>Your are agreeing to give this animal a good and healthy home.
By checking the box below you agree to keep and feed this pet for
the entirety of its foster care time.</p>
<%= button_to "Accept", new_foster_parent_path, method: :get %>
<form action="http://localhost:3000">
    <input type="submit" value="Cancel">
</form>
<% @control = 1%>
<ul>    
  <% @foster.line_items.each do |item| %>
    <% if(@control == @foster.line_items.length) %>
      <%= image_tag(item.animal.image_url, class: 'list_image') %>
      <%= item.animal.name %> <br>
    <% end %>
    <% @control = @control + 1%>
  <% end %>
</ul>
