<!DOCTYPE html>
<html>
	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <link rel="stylesheet" type="text/css" href="list.css" >
	</head>
	<body>
	  <h1>Top 50 Best-Selling Books of All Time</h1>

          <form action='' method='POST'>
          <h3>SORT BY: </h3>
          <select name='sorting'>
            <option value='1'>Title</option>
            <option value='2'>Author</option>
            <option value='3'>Language</option>
            <option value='4'>Year</option>
            <option value='5'>Rank</option>
          </select>
          <input type='submit' value='Submit'>
          </form>