/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*Variables. I used these for widths, fonts, etc.
Nesting. I nested list items for my menu bar
Partials. We'll use this feature with custom fonts, explained below.
Mixins. I just used the border-radius mixin from the SASS guide to style two different items (nav links and submit button).
Inheritance. I used this for some divs and header styling.
Operators. I used this to control the size of some divs.*/

//create basic variables
$body-font-family: Verdana, Tahoma, sans-serif;
$body-font-color: #333;
$body-font-size: 15px;
$body-font-weight: normal;
$body-font-style: normal;
$header-footer-color: #FFA500;

// ems to px function
@function emCalc($pxWidth) {
    @return $pxWidth / $body-font-size * 1em;
}

//NESTING- I am using SASS nesting to help format my menu bar
#menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: circle;
  }

  li {
    display: inline-block;
    }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: underline;
  }
}

//create mixin
@mixin setupFont(
    $family:$body-font-family,
    $color:$body-font-color,
    $size:$body-font-size,
    $weight:$body-font-weight,
    $style:$body-font-style
){
    font:{
        family: $family;
        color: $color;
        size: emCalc($size);
        weight: $weight;
        style: $style;
    }
}

//body class
body{
    @include setupFont;
    font-size: $body-font-size;
}

//make  header the same color as the footer using variables
#header {
    height: 70px;
    background-color: $header-footer-color;
    h1, button{
        margin-top: 20px;
        float: left;
    }
}

//css
html, body{
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
}

#sidebar{
    float:right;
}
#wrap {
    min-height: 100%;
}

#container {
    overflow:auto;
    padding-bottom: 50px;
}  /* must be same height as the footer */

#footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear: both;
    text-align:center;
    background-color: $header-footer-color;
}
#menu{
    background-color:#FFD700;
    height:200px;
    width:100px;
}

#login {
    width:200px;
}

#content{
    height:auto;
    width:auto;
    float:left;
}