/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//link used for sticky footer http://www.cssstickyfooter.com/using-sticky-footer-code.html

@import "compass/reset";
//PARTIAL custom font file
@import "customfont";

/*Variables. I used these for fonts and colors
Nesting. I nested list items for my navigation bar
Partials. I used this feature for my custom font.
Mixins. I used a mixin to make my font just the way I wanted it for my blog body
Inheritance. I used this for some of my div and content styling 
Operators. I used this to control the size of my font by creating an em to px function.*/

//VARIABLES created basic variables for my fonts and colors
$body-font-family: Verdana, Tahoma, sans-serif;
$body-font-color: #333;
$body-font-size: 15px;
$body-font-weight: normal;
$body-font-style: normal;
$header-footer-color: #FFA500;

//OPERATOR ems to px function
@function emCalc($pxWidth) {
    @return $pxWidth / $body-font-size * 1em;
}

//NESTING- I am using SASS nesting to help format my menu bar
#menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: circle;
  }

  li {
    display: inline-block;
    }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: underline;
  }
}

//MIXIN to setup the font I want for my blog body
@mixin setupFont(
    $family:$body-font-family,
    $color:$body-font-color,
    $size:$body-font-size,
    $weight:$body-font-weight,
    $style:$body-font-style
){
    font:{
        family: $family;
        color: $color;
        size: emCalc($size);
        weight: $weight;
        style: $style;
    }
}

//Use of my mixin for blog content
#content{
    @include setupFont;
    font-size: $body-font-size;
}

//use of mixin for menu bar with links
#menu{
    @include setupFont;
    font-size: $body-font-size;
    background-color:#FFD700;
    height:200px;
    width:100px;
}

//INHERITANCE using font style from the content
h2{
    @extend #content;
    font-size: 28px;
    font-weight: bold;
}
    
//make  header the same color as the footer using variables
#header {
    height: 70px;
    background-color: $header-footer-color;
    h1, button{
        font-family: 'brankovicregular';
        margin-top: 20px;
        float: left;
    }
}

//plain css3 no sass
//help with sticky footer
html, body{
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
}

//make two column layout
#sidebar{
    float:right;
}

//wraper for sticky footer
#wrap {
    min-height: 100%;
}

//conains all of the content but footer
#container {
    overflow:auto;
    padding-bottom: 50px;
}  /* must be same height as the footer */

//footer with settings to make sticky
#footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear: both;
    text-align:center;
    background-color: $header-footer-color;
}

//login bar slightly bigger than menu
#login {
    width:200px;
}

//blog content setting dimensions
#content{
    height:auto;
    width:auto;
    float:left;
}