<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h2>Animals You are Considering</h2>
<ul>
  <% @consider.possible_items.each do |item| %>
    <li><%= item.animal.name %></li>
  <% end %>
</ul>