<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h2>Animals You are Considering</h2>
<table>
  <% @consider.possible_items.each do |item| %>
    <tr>
      <td><%= image_tag(item.animal.image_url, class: 'list_image')  %></td>
      <td><%= item.animal.name %></td>
    </tr>
  <% end %>

</table>

<%= button_to 'Remove Selections', @consider, method: :delete,
 data: { confirm: 'Are you sure?' } %>
